body{
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-image: url("table.png");
   background-size: cover;
   color: white;
   font-weight: bold;

}

h1{
   color: goldenrod;
   font-size: 72px;
}

p{
   font-size: 30px;
}

#message-el{
   font-style: italic;
}

button{
   color: #016f32;
   background: goldenrod;
   width: 180px;
   height: 30px;
   font-size: 20px;
   font-weight: bold;
   border: none;
   border-radius: 2px;
}

#new-el{
   margin-top: 8px;
}
